{% extends "base.html" %}

{% set logged_in = logged_in %}

{% block content %}

<h3 class="centeredLink">{{category.name}}</h3>
</br>
<div class="centeredLink">
    <p>
        <a class="blackLink" href="{{url_for('newPlace', category_id=category.id)}}">Add a new place</a>
    </p>
    </br>
</div>
<div class="container">
    <div class="row">
        {% for place in places %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centeredColumn">

            <h4>{{place.name}}</h4>
            <p>{{place.city}}, {{place.country}}</p>
            <p>{{place.description}}</p>
            {% if place.user_id == logged_in_user_id %}
            <p>
                <a href="{{url_for('editPlace', category_id=category.id, place_id=place.id)}}">Edit</a>
                /
                <a href="{{url_for('deletePlace', category_id=category.id, place_id=place.id)}}">Delete</a>
            </p>
            {% endif %}
            </br>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
