.centeredButton {
    display: block;
    margin: 0 auto;
}

.centeredColumn {
    text-align: center;
}

.mainLoginLink {
    text-align: center;
    text-decoration: none;
}

.blackLink {
    color: black;
}

#signInButton {
    text-align: center;
}
